.cover--page {
    background: rgba(0, 0, 0, 0.7);
    height: 91.3vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
}

.cover--message {
    font-family: "Poppins", sans-serif;
    font-size: 48pt;
    text-align: left;
    width: 800px;
    padding-top: 10vw;
}
