body {
    color: white; /*set all text color*/
    font-family: "Roboto", sans-serif;
}

.movie--page {
    height: 91.5vh;
    background: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
}

.movie--container {
    background-color: #000000bb;
    border-radius: 8px;
    max-height: 750px;
    min-width: 1000px;
    width: 70vw;
    display: flex;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    margin-bottom: 55px;
}

.movie--poster {
    max-height: 750px;
    max-width: 500px;
    min-width: 500px;
    height: 80vh;
    width: 27vw;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    display: block;
}

.movie--details {
    flex: 1;
    padding: 20px;
}

.movie--title {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.genres {
    font-size: 16px;
    margin-top: 1vw;
}

.summary--header {
    padding-top: 1vw;
    color: #cea9ff;
}

.summary {
    font-size: 18px;
    line-height: 1.6;
    overflow-y: auto;
}

.list--actions {
    margin-top: 2vw;
}

.list--actions h6 {
    font-size: 16px;
}

.user--inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.user--buttons {
    display: flex;
    flex-direction: row;
}

.toggle--button {
    width: 208px;
    position: relative;
    display: inline-flex;
    padding: 4px;
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
    background: rgb(231, 231, 231);
}

.toggle--button [type="radio"] {
    position: absolute;
    left: -9999px;
}

.toggle--button [type="radio"]:checked#watched ~ label[for="watched"],
.toggle--button [type="radio"]:checked#watchlist ~ label[for="watchlist"] {
    color: white;
}

.toggle--button [type="radio"]:checked#watched ~ label[for="watched"]:hover,
.toggle--button [type="radio"]:checked#watchlist ~ label[for="watchlist"]:hover {
    background: transparent;
}

.toggle--button [type="radio"]:checked#watched + label[for="watchlist"] ~ .highlighter {
    transform: none;
}

.toggle--button [type="radio"]:checked#watchlist + label[for="watched"] ~ .highlighter {
    transform: translateX(99%);
}

.toggle--button label {
    font-size: 16px;
    text-align: center;
    z-index: 1;
    min-width: 100px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 0;
    color: black;
    transition: color 0.25s ease-in-out;
}

.toggle--button label:hover {
    color: rgb(206, 169, 255);
}

.toggle--button .highlighter {
    position: absolute;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: 8px;
    background: rgb(151, 126, 243);
    transition: transform 0.2s ease-in-out;
}

.remove--button {
    align-self: center;
    height: 35px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
    background: rgb(199, 0, 0);
    margin-left: 10px;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.remove--button label {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.remove--button:hover {
    background: rgb(146, 0, 0);
}
.remove--button:focus {
    outline: none;
}

.rating--div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.rating--text {
    font-size: 24px;
    margin-bottom: 0px;
    margin-right: 10px;
    color: rgb(206, 169, 255);
}

.select--rating {
    font-size: 18pt;
    border: none;
    border-radius: 6px;
    /* margin-left: 15px; */
    height: 40px;
    text-align-last: center;
    padding: 5px;
}

.select--rating:focus {
    outline: none;
}

.rating--options {
    width: 20px;
    font-size: 12pt;
}

.add--button {
    height: 45px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: rgb(12, 145, 0);
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.add--button label {
    padding: 0px;
    margin: 0px;
    font-size: 18pt;
    line-height: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.add--button:hover {
    background: rgb(9, 107, 0);
}
.add--button:focus {
    outline: none;
}

.added--message {
    padding-top: 1vw;
    font-size: 26px;
    color: rgb(0, 204, 0);
}

@media screen and (max-width: 1146px) {
    .movie--container {
        width: 90vw;
        height: 65vw;
        min-width: 0px;
    }

    .movie--poster {
        width: 40vw;
        height: 65vw;
        min-width: 0px;
    }

    .movie--details {
        width: 20vw;
        height: 20vw;
        padding: 10px;
    }

    .movie--title {
        font-size: 4vw;
    }

    .genres,
    u {
        font-size: 1.5vw;
        margin-bottom: 2vw;
    }

    .summary--header {
        margin-top: 1vw;
        margin-bottom: 0.5vw;
        font-size: 2.5vw;
    }

    .summary {
        font-size: 2vw;
        height: 20vw;
        overflow-y: auto;
    }

    /* width */
    .summary::-webkit-scrollbar {
        width: 1vw;
    }

    /* Track */
    .summary::-webkit-scrollbar-track {
        background: #4b4b4b;
    }

    /* Handle */
    .summary::-webkit-scrollbar-thumb {
        background: rgb(206, 169, 255);
    }

    /* Handle on hover */
    .summary::-webkit-scrollbar-thumb:hover {
        background: rgb(124, 101, 153);
    }

    .list--actions {
        margin-top: 1.5vw;
    }

    .list--actions h6 {
        font-size: 2vw;
    }

    .toggle--button {
        font-size: 1.5vw;
    }

    .rating--text,
    .added--message {
        font-size: 2.5vw;
    }

    .select--rating {
        font-size: 2.5vw;
        height: 5vw;
    }
}

@media screen and (max-width: 800px) {
    .movie--container {
        height: 68vw;
    }

    .list--actions {
        margin-top: 0px;
    }

    .toggle--button {
        width: 26vw;
    }

    .toggle--button label {
        min-width: 0px;
        width: 14vw;
        font-size: 1.9vw;
        line-height: 4vw;
    }

    .remove--button {
        border-radius: 5px;
        width: 8.5vw;
        height: 4.5vw;
        margin-left: 8px;
    }

    .remove--button label {
        font-size: 1.5vw;
        line-height: 1.8vw;
    }

    .rating--div {
        margin-bottom: 5px;
    }

    .select--rating {
        font-size: 3vw;
        height: 5vw;
        padding-top: 2px;
    }

    .add--button {
        border-radius: 5px;
        width: 8.5vw;
        height: 4.5vw;
        margin-left: 8px;
    }

    .add--button label {
        font-size: 1.5vw;
        line-height: 1.8vw;
    }
}

@media screen and (max-width: 450px) {
    .movie--container {
        width: 90vw;
        height: 110vw;
    }

    .movie--poster {
        width: 35vw;
        height: 50vw;
        border-radius: 8px 0 0 0;
    }

    .movie--details {
        width: 20vw;
        height: 20vw;
        padding: 10px;
    }

    .movie--title {
        font-size: 4vw;
    }

    .genres {
        font-size: 2.5vw;
        margin-bottom: 2vw;
    }

    .summary--header {
        margin-top: 1vw;
        margin-bottom: 0.5vw;
        font-size: 2.5vw;
    }

    .summary {
        font-size: 3vw;
        height: 40vw;
        /* max-height: 180px; */
    }

    .list--actions h6 {
        font-size: 2.5vw;
        margin: 0px;
    }

    .user--inputs {
        padding-top: 6px;
        max-width: 35vw;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .rating {
        font-size: 2.5vw;
        padding-left: 0px;
    }

    .rating--text {
        font-size: 4vw;
        width: 22vw;
        margin-right: 1vw;
    }

    .toggle--button {
        width: 39vw;
        padding: 4px;
    }

    .toggle--button label {
        width: 20vw;
        font-size: 3vw;
    }

    .remove--button {
        border-radius: 5px;
        width: 11vw;
        height: 5vw;
        margin-left: 4px;
        padding: 0px 0px 0px 0px;
    }

    .remove--button label {
        font-size: 2vw;
        line-height: 2.5vw;
    }

    .toggle--button .highlighter {
        top: 0.5vw;
        padding-bottom: 5vw;
        border-radius: 6px;
    }

    .select--rating {
        font-size: 4vw;
        max-width: 120px;
        height: 6vw;
        padding: 0px;
        size: 5;
    }

    .select--rating option {
        font-size: 3vw;
        padding: 0px 0px 0px 0px;
        min-height: 0px;
    }

    .add--button {
        border-radius: 5px;
        width: 25vw;
        height: 8vw;
        margin-left: 0px;
    }

    .add--button label {
        font-size: 4vw;
        line-height: 2.5vw;
    }
}
